@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap&subset=latin');



/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}


body {
  display: flex;
  height : 100vh;
  justify-content: center;
  align-items: center;
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: #D5E1EF ;
  font-family: 'Outfit', sans-serif;

  
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height : auto;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}



.card{
  background-color: white;
  width : 320px;
  border-radius: 20px;
  box-shadow: 0px 65px 80px -22px rgba(0,0,0,0.07);
  

}


.img-qr-code{
  padding: 16px;
}

.img-qr-code img{
  border-radius: 10px;
  width: 100%;
  
}

.card-title{
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  margin-top: 8px;
  line-height: 26px;
  font-weight: 700;
}


.card-description{
  padding: 0 20px 40px 20px;
  text-align: center;
  
  font-size: 15px;
  margin-top: 15px;
  line-height: 21.4px;
  color: hsl(216, 15%, 48%);
  font-weight: 400;

  
   
}